---
import { projects } from "@/data/projects.astro";
import StatusBadge from "@/components/ui/StatusBadge.astro";
---

<section
  class="sm:px-6 lg:px-8 relative mx-auto flex flex-col justify-center px-4 gap-8 w-full"
>
  <h2
    class="text-xl md:text-2xl lg:text-3xl font-bold leading-tight lg:leading-[1.15] w-full flex justify-center text-[#3a3b3e] dark:text-[#FEFEFE]"
  >
    Check out what I've been up to!
  </h2>

  {
    projects.map((p) => (
      <article class="space-y-6 border border-zinc-200/60 shadow-md rounded-xl md:rounded-2xl p-4 w-full max-w-[450px] mx-auto">
        <div class="overflow-hidden rounded-lg md:rounded-xl">
          <a href={`/projects/${p.slug}`}>
            <img
              alt="Vaulti"
              class="w-full h-full object-cover scale-105 transition-all duration-300 ease-in-out hover:scale-110"
              style="color:transparent"
              src={p.images[0]}
            />
          </a>
        </div>
        <div class="space-y-2">
          <div>
            <a
              href={`/projects/${p.slug}`}
              class="text-base md:text-lg font-semibold leading-tight"
            >
              {p.title}
            </a>
          </div>

          <div>
            <p class="text-base leading-relaxed">{p.short_description}</p>
          </div>
          <div class="flex place-content-between">
            <div class="flex flex-wrap gap-1.5 pt-1 w-2/3 content-end">
              {p.stack.map((tech) => (
                <span class="px-2.5 py-2 bg-zinc-100 dark:bg-zinc-700 border border-zinc-200/30 text- text-xs rounded-md font-medium h-fit transition-all duration-300 ease-in-out hover:scale-105">
                  {tech}
                </span>
              ))}
            </div>
            <div class="pt-1 content-end">
              <StatusBadge isDone={p.isDone} />
            </div>
          </div>
        </div>
      </article>
    ))
  }
</section>
